/* MOBILE */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 684px) {
  .contactText {
    font-size: 1rem;
  }

  section.hero .text-cta {
    display: none;
  }

  section.hero .link-social {
    display: none;
  }

  section.hero .circulo h2 {
    font-size: 11rem;
  }

  section.hero .name-artist h2 {
    font-size: 6rem;
  }

  section.hero .name-artist {
    bottom: 8rem;
  }

  section.hero .icone-scrool {
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  section.hero .icone-scrool::after {
    display: none;
  }

  section.about {
    padding-top: 80px;
  }

  section.about h2 {
    font-size: 3.5rem;
  }

  section.about .text-apresent p {
    width: 100%;
    text-align: center;
    line-height: 6rem;
    font-size: 2rem;
  }

  .play-section {
    padding: 1rem;
  }

  .play-content {
    position: none;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .player {
    position: none;
    margin-bottom: 7rem;
  }

  .tracklist {
    margin-top: 20px;
  }
}


@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .footerSocials {
    flex-direction: column;
    gap: 12px;
  }
}