/* MOBILE */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 684px) {
  .container {
    width: 100%;
  }

  header .cabecalho {
    padding: 0 20px;
  }

  .galeriaSection {
    padding: 0 20px;
  }

  .contactText {
    font-size: 1rem;
  }

  section.hero .text-cta {
    display: none;
  }

  section.hero .link-social {
    display: none;
  }

  section.hero .circulo h2 {
    font-size: 10.4rem;
  }

  section.hero .name-artist h2 {
    font-size: 6rem;
  }

  section.hero .name-artist {
    bottom: 8rem;
  }

  section.hero .icone-scrool {
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  section.hero .icone-scrool::after {
    display: none;
  }

  section.hero .img-artist {
    width: 100vw !important;

  }

  section.hero .img-artist img {
    width: 100vw !important;
    height: 600px;
  }



  section.about {
    padding: 80px 20px 0;
  }

  section.about h2 {
    font-size: 3rem;
  }

  section.about .text-apresent p {
    width: 100%;
    text-align: center;
    line-height: 6rem;
    font-size: 2rem;
  }

  .play-section {
    padding: 1rem;
  }

  .play-content {
    position: none;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .player {
    position: none;
    margin-bottom: 7rem;

    background: linear-gradient(to bottom,
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 1));
  }

  .tracklist {
    margin-top: 20px;
  }

  .galeriaSection {
    margin-top: 60px;
  }

  .title{
    margin-top: 30px;
  }

  .contactSection{
    padding-top: 100px;
    margin-top: 60px;
  }

  section.hero .circulo {
    left: 50%;
    right: 50%;
    transform: translate(-48%, 25%);
  }

}


@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .footerSocials {
    flex-direction: column;
    gap: 12px;
  }
}